<ul id="post-list">
            {% if page.date %}
			<span class="date" style="position: absolute; top: auto; bottom: auto;">
                  <span class="month">{{ page.date | date:"%b"}}</span>
                  <span class="day">{{ page.date | date:"%d"}}</span>
               </span>
            {% endif %}
	<!--text-->
		<li class="post text">
			<div class="body">
				
				<h1 class="emphnext">{{ page.title }}</h1>


  {{ content }}
  <!-- JiaThis Button BEGIN -->

<!-- JiaThis Button END -->
  <BR/>
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">向右走 &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; 向左走</a>
  {% endif %}
  </div>
			</div>
			<div class="meta">
					<span class="tags">
						{% assign tags_list = page.tags %}
				{% if site.JB.tags_list.provider == "custom" %}
				{% include custom/tags_list %}
				{% else %}
				{% if tags_list.first[0] == null %}
				{% for tag in tags_list %} 
				<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
				{% endfor %}
				{% else %}
				{% for tag in tags_list %} 
				<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
				{% endfor %}
				{% endif %}
				{% endif %}
				{% assign tags_list = nil %}
					</span>
				
			</div>
		</li>
</ul>



{% include JB/comments %}
